<div class="container">
    <div class="card my-3">
        <div class="card-header">
            <h1>Please Login</h1>
        </div>
        <div class="card-body">
            <form [formGroup]="login_form">
                <div class="row">
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2">
                        <button type="submit" (click)="login()" mat-raised-button color="primary">LOGIN</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>