.example-card1 {
    max-width: 400px;
    margin-bottom: 8px;
    background-color: #93f1c5;
  }
  .example-card2 {
    max-width: 400px;
    margin-bottom: 8px;
    background-color: #fde18b;
  }
  .example-card3 {
    max-width: 400px;
    margin-bottom: 8px;
    background-color: #7ee5f9;
  }