
<div class="container">
    <mat-card class="example-card card">
        <mat-card-header>
            <h1>Add Leaves</h1>
        </mat-card-header>
        <mat-card-content>
            <form   [formGroup]="add_leave">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Day's</h4>
                        <mat-form-field  appearance="fill">
                            <mat-label>Day's</mat-label>
                            <input type="text" matInput formControlName="day" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Choose From Date</h4>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose From Date</mat-label>
                            <input matInput [matDatepicker]="frompicker" formControlName="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                            <mat-datepicker #frompicker></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Choose To Date</h4>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose To Date</mat-label>
                            <input matInput [matDatepicker]="todatepicker"  formControlName="toDate">
                            <mat-datepicker-toggle matSuffix [for]="todatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #todatepicker></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field  appearance="fill">
                            <mat-label>Reason textarea</mat-label>
                            <textarea matInput formControlName="reason" ></textarea>
                          </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
       
          <button mat-raised-button color="primary" (click)="submit()">Submit</button>
       
    </mat-card>
</div>