
<div class="container aling-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-card class="example-card my-3 w-100">
                <mat-card-header class="header_color" >
                    <h1 class="my-2">Add Account</h1>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="add_account_form" enctype="multipart/form-data">
                       <div class="row">
                           <div class="col-md-4">
                                <mat-form-field  appearance="fill">
                                    <mat-label>Account Number</mat-label>
                                    <input matInput  formControlName="account_no">
                                </mat-form-field>
                           </div>
                           <div class="col-md-4">
                                <mat-form-field  appearance="fill">
                                    <mat-label>IFSC CODE</mat-label>
                                    <input matInput  formControlName="ifsc_code">
                                </mat-form-field>
                           </div>
                           <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="type">
                                      <mat-option  [value]="val" *ngFor="let val of accountType">{{val}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-4">
                                <mat-form-field  appearance="fill">
                                    <mat-label>Account Name</mat-label>
                                    <input matInput  formControlName="account_name">
                                </mat-form-field>
                           </div>
                           <div class="col-md-4">
                                <mat-form-field  appearance="fill">
                                    <mat-label>Bank Name</mat-label>
                                    <input matInput  formControlName="bank_name">
                                </mat-form-field>
                           </div>
                       </div>

                       <div class="row mt-2">
                            <div class="col-md-4">
                                <button type="submit" (click)="submit()" mat-raised-button color="primary">Submit</button>
                            </div>
                       </div>
                       
                    </form>
                        
                </mat-card-content>
            </mat-card>
        </div>
    </div>
   
</div>