

<div class="container mt-4 mx-6">
    <div class="row">
        <div class="col-md-4"> 
            <app-dashbord-card [total]="employeeVal.employee" [Headerdata]="'Total Number of Employee'"></app-dashbord-card>
        </div>
        <div class="col-md-4">
            <app-dashbord-card [total]="employeeVal.leaves" [Headerdata]="'Total Number of UnApproved Leaves'"></app-dashbord-card>
        </div>
        <div class="col-md-4">
            <app-dashbord-card [total]="employeeVal.active" [Headerdata]="'Total Number of Active Employee'"></app-dashbord-card>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-5">
            <canvas baseChart  [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
            </canvas>
        </div>
        
    </div>
</div>

