
<div class="container aling-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-card class="example-card my-3 w-100">
                <mat-card-header class="header_color" >
                    <h1 class="my-2">Add Income</h1>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="add_income_form" enctype="multipart/form-data">
                        <div class="row">
                            <h4>Choose Date</h4>
                            <div class="col-md-3 mt-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>Month</mat-label>
                                    <mat-select formControlName="month" [class.is-invalid]="add_income_form.get('month')?.valid ||add_income_form.get('month')?.touched"> 
                                    <mat-option  [value]="i+1" *ngFor="let val of Month; let i = index" >{{val}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 mt-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>Years</mat-label>
                                    <mat-select formControlName="years" [class.is-invalid]="add_income_form.get('years')?.valid ||add_income_form.get('years')?.touched"> 
                                    <mat-option [value]="val" *ngFor="let val of year" >{{val}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> 
                            <div class="col-md-4 mx-2">
                                <label for="Discription"  class="form-group">Discription</label>
                                <textarea class="form-control" row="2" formControlName="discription"></textarea>
                            </div>
                        </div>
                        <div class=" d-flex justify-content-end">
                            <button mat-mini-fab (click)="addLesson()">
                                <mat-icon class="add-course-btn">add</mat-icon>
                            </button>
                        </div>
                        <ng-container formArrayName="incomeData">
                            <ng-container *ngFor="let lessonForm of incomeData().controls; let i = index">
                                 <!--<div [formGroupName]="i" >
                                     <div class="row mt-3">
                                        <div class="col-md-3 mt-3">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Client Name</mat-label> 
                                                <mat-select formControlName="clientID" > 
                                                    <mat-option  value="{{val.id}}" *ngFor="let val of clientName" >{{val.firstname}} {{val.lastname}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mt-3">
                                            <mat-form-field class="example-full-width"  appearance="fill">
                                                <mat-label>Amount</mat-label>
                                                <input matInput  (keypress)="numberOnly($event)"  formControlName="amount" [class.is-invalid]="lessonForm.get('amount')?.valid ||lessonForm.get('amount')?.touched" >
                                                
                                           </mat-form-field>
                                         </div>
                                        <div class="col-md-4 mx-2">
                                            <label for="Discription"  class="form-group">Discription</label>
                                            <textarea class="form-control" row="3" formControlName="discription"></textarea>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="mt-4"  color="primary" mat-mini-fab (click)="deleteLesson(i)">
                                                <mat-icon  class="add-course-btn">delete</mat-icon>
                                            </button>
                                        </div> 
                                    </div> 
                                </div> -->
                                <app-child-add-income (deleteItemEvent)="deleteLesson($event)" (newItemEvent)="numberOnly($event)" [clientName]="clientName" [formGroupName]="i" [index]="i"  [incomeData]="incomeData()" [form]="lessonForm"></app-child-add-income>
                            </ng-container>

                            
                            <div class="row">
                                <div class="col-md-4 mt-2">
                                    <button type="submit" (click)="submit($event)" mat-raised-button color="primary">Submit</button>
                                </div>
                                
                            </div>
                        </ng-container> 
                        
                    </form>
                        
                </mat-card-content>
            </mat-card>
        </div>
    </div>
   
</div>
