

<div class="container justify-content-center mt-4">

    <mat-card class="example-card">
      <mat-card-header class="d-flex justify-content-between">
        <mat-card-title>
          <div class="d-flex">
            <p class="mt-2">Client List</p>
            <div class="autocomplete mx-3" style="width:200px; ">
              <input  [(ngModel)]="autocompletevalue" (keyup)="getinputdata()" (focus)="showoption()" type="text"  (focusout)="delayoutfocus()" class="form-control">
            </div>
          </div>
          <div *ngIf="isAutocomple" class="droplist">
            <ng-container >
              <div (click)="setinputdata(i)" class="pointer" *ngFor="let val of clientnameList; index as i;">{{val.name}}</div>
            </ng-container>
          </div>
        </mat-card-title>
        <div class="my-3">
          <a [routerLink]="['/client/add']" >
            <button mat-raised-button color="warn">Add+</button>
            </a>
        </div>
      </mat-card-header>
      <mat-card-content>
          <table mat-table matSort [dataSource]="clientData"  class="mat-elevation-z8 w-100"   >
  
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>UserID</th>
              <td mat-cell *matCellDef="let item"> {{item.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
              <td mat-cell *matCellDef="let item"> {{item.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <!-- <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
              <td mat-cell *matCellDef="let item"> {{item.lastname}} </td>
            </ng-container> -->
            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>UserName</th>
              <td mat-cell *matCellDef="let item">{{item.username}}</td>
            </ng-container> -->
            
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let item">{{item.email}}</td>
            </ng-container>
            
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
              <td mat-cell *matCellDef="let item">{{item.country}}</td>
            </ng-container>
            
            <ng-container matColumnDef="startdate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
              <td mat-cell *matCellDef="let item">{{item.startdate}}</td>
            </ng-container>
            
            <ng-container matColumnDef="enddate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
              <td mat-cell *matCellDef="let item">{{item.enddate}}</td>
            </ng-container>
            
            <ng-container matColumnDef="tecnology">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tecnology</th>
              <td mat-cell *matCellDef="let item">{{item.tecnology}}</td>
            </ng-container>
            
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let item">{{item.status}}</td>
            </ng-container>
  
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell  *matCellDef="let item" >
                <a [routerLink]="['/client/edit',item.id]">
                  <button class="mx-2" mat-raised-button color="accent">Edit</button>
                </a>
                <!-- <button class=" mx-2" mat-raised-button color="warn" (click)="delete(item.id)">Delete</button> -->
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="headercolumn"></tr>
            <tr mat-row *matRowDef="let row; columns:headercolumn"></tr>
          </table>
          <mat-paginator #Paginator length="5" [pageSizeOptions]="[5,7, 10, 12,20]" showFirstLastButtons >
          </mat-paginator>
      </mat-card-content>
    </mat-card>


    <div class="row my-3">
      <h2>Replay subject</h2>
    </div>
 
    <div class="row">
      <div>
        <h3>Add video</h3>
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="col-md-2">
        <input type="text" [(ngModel)]="add"  class="form-control">
        
      </div>
      <div class="col-md-3">
        <button class="btn btn-success" (click)="addvideo()">Add Video</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <p class="my-2">row 1</p>
        <div *ngFor="let val of row1">{{val}}</div>
      </div>
      <div class="col-md-3">
        <p class="my-2">row 1</p>
        <div *ngFor="let val of row2">{{val}}</div>
        <div>
          <button class="btn btn-info" (click)="subcribe()">Subcribe</button>
        </div>
        
      </div>
    </div> 
  </div>