<!-- <p>add-project works!</p> -->


<div class="container aling-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-card class="example-card my-3 w-100">
                <mat-card-header class="header_color" >
                    <h1 class="my-2">Add Project</h1>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="add_project_form" enctype="multipart/form-data">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="firstname" class="form-label">Project Name</label>
                                <input type="text" class="form-control" formControlName="projectname">
                            </div>
                        </div>
                        <!-- <div class="row my-1">
                            <div class="col-md-12">
                                <input type="hidden" class="form-control" formControlName="clientID">
                            </div>
                        </div> -->
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Client Name</mat-label>
                                    <mat-select formControlName="clientID"> 
                                      <mat-option  value="{{val.id}}" *ngFor="let val of clientName" >{{val.firstname}} {{val.lastname}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label for="status">Status Type </label>
                                <select class="form-select mt-2" formControlName="status">
                                    <option value="">Chosee Type</option>
                                    <option value="active">Active</option>
                                    <option value="inactive">InActive</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Choose Start Date</h4>
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose Date</mat-label>
                                    <input matInput [matDatepicker]="datepicker"  formControlName="startdate">
                                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datepicker></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Choose End Date</h4>
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose To Date</mat-label>
                                    <input matInput [matDatepicker]="todatepicker"  formControlName="enddate">
                                    <mat-datepicker-toggle matSuffix [for]="todatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #todatepicker></mat-datepicker>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <button type="submit" (click)="submit()" mat-raised-button color="primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-2"></div>
    </div>
   
</div>