<div class="container justify-content-center mt-4">
    <div class="card" style="width: 35rem;">
      
        <h4 class="mx-3 mt-3">
          <span>
            Name :{{userdata.name}}
          </span>
        </h4>
        <div class="card-body">
          <h4 class="card-title">
            <span *ngIf="role=='company'">
              Company Email: {{userdata.email}}
            </span> 
            <span *ngIf="role=='employee'">
              User Email: {{userdata.email}}
            </span>
            
          </h4>
          <p class="card-text">I Am full stack devloper but I know very well  frontend but the backend litle bit <b> “someone who can work on both the back-end and front-end of systems.”</b> This means that they can develop fully fledged platforms (with databases, servers and clients) which don't need other applications to function.</p>
        </div>
        <div *ngIf="role=='employee'">
            <a [routerLink]="['/employee/update']">
              <button type="button" class="btn btn-info mx-4 my-3">EditEmployeProfile</button>
            </a>
        </div>
        <div *ngIf="role=='company'">
            <a [routerLink]="['/edit']">
              <button type="button" class=" mx-4 my-3" mat-raised-button color="primary">EditCompanyProfile</button>
            </a>
        </div>
      </div>
</div>

