<!-- <p>view-income works!</p>
<a [routerLink]="['/income/add']" >Add+</a>
<br>
<a [routerLink]="['/income/edit',1]" >Edit</a> -->

<div class="container justify-content-center mt-4">
    <mat-card class="example-card">
      <mat-card-header class="d-flex justify-content-between">
        <mat-card-title>
              <p>Client Income List</p>
        </mat-card-title>
        <div class="my-3">
            <a [routerLink]="['/income/add']" >
            <button mat-raised-button color="warn">Add+</button>
            </a>
        </div>
      </mat-card-header>
      <mat-card-content>
          <table mat-table matSort [dataSource]="Incomedata"  class="mat-elevation-z8 w-100"   >
            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>UserID</th>
              <td mat-cell *matCellDef="let item"> {{item.id}} </td>
            </ng-container>
            
            <ng-container matColumnDef="totalincome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
              <td mat-cell *matCellDef="let item">{{item.totalincome}}</td>
            </ng-container>

            <ng-container matColumnDef="startdate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
              <td mat-cell *matCellDef="let item">{{item.startdate}}</td>
            </ng-container>
            
            <ng-container matColumnDef="enddate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
              <td mat-cell *matCellDef="let item">{{item.enddate}}</td>
            </ng-container>
            
            <ng-container matColumnDef="tds">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TDS Amount</th>
                <td mat-cell *matCellDef="let item">{{item.tds}}%</td>
            </ng-container>

            <ng-container matColumnDef="discription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Discription</th>
                <td mat-cell *matCellDef="let item">{{item.discription}}</td>
            </ng-container>
  
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell  *matCellDef="let item" >
                  <button class="mx-2" mat-raised-button [class.spinner]="loading" [disabled]="loading" (click)="viewClientIncome(item.id,item.startdate,item.enddate,item.discription)" color="primary">View</button>
                <a [routerLink]="['/income/edit',item.id]">
                  <button class="mx-2" mat-raised-button color="accent">Edit</button>
                </a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="headercolumn"></tr>
            <tr mat-row *matRowDef="let row; columns:headercolumn"></tr>
          </table>
          <mat-paginator #Paginator length="5" [pageSizeOptions]="[3,5, 10, 20]" showFirstLastButtons >
          </mat-paginator>
      </mat-card-content>
    </mat-card>  
  </div>
 