
<div class="container aling-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-card class="example-card my-3 w-100">
                <mat-card-header class="header_color" >
                    <h1 class="my-2">Add Payment section</h1>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="add_payment_form" enctype="multipart/form-data">
                       <div class="row my-2">
                           <div class="col-md-4">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Choose Contractors</mat-label>
                                    <mat-select formControlName="contractor">
                                    <mat-option  [value]="val.id" *ngFor="let val of contractorData" >{{val.firstname}} {{val.lastname}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                           </div>
                           <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose Client</mat-label>
                                    <mat-select formControlName="client">
                                        <mat-option  [value]="val.id" *ngFor="let val of clientData" >{{val.firstname}} {{val.lastname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                           </div>
                       </div>
                       <div class="row">
                            <div class="col-md-6 offset-md-3 d-flex justify-content-end">
                                <button mat-mini-fab (click)="addpayment()">
                                    <mat-icon class="add-course-btn">add</mat-icon>
                                </button>
                            </div>
                       </div>
                       
                       <div class="row mb-2">
                           <div class="col-md-4">
                                <mat-form-field  appearance="fill">
                                    <mat-label>Persentage %</mat-label>
                                    <input matInput  formControlName="percentage">
                                </mat-form-field>
                           </div>
                           <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="type">
                                    <mat-option  value="month" >Month</mat-option>
                                    <mat-option  value="years" >Years</mat-option>
                                    </mat-select>
                                </mat-form-field>
                           </div>
                       </div>
                       <div formArrayName="add_paymentData" class="mt-4 ">
                            <ng-container  *ngFor="let quantity of paymentFormData().controls; let i=index" [formGroupName]="i">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="col-md-4">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Choose Contractors</mat-label>
                                                <mat-select formControlName="contractor">
                                                <mat-option  [value]="val.id" *ngFor="let val of contractorData" >{{val.firstname}} {{val.lastname}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Choose Client</mat-label>
                                            <mat-select formControlName="client">
                                            <mat-option  [value]="val.id" *ngFor="let val of clientData" >{{val.firstname}} {{val.lastname}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 offset-md-3 d-flex justify-content-end">
                                        <button color="primary" mat-mini-fab (click)="removepayment(i)">
                                            <mat-icon  class="add-course-btn">delete</mat-icon>
                                        </button>
                                        
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <mat-form-field  appearance="fill">
                                            <mat-label>Persentage %</mat-label>
                                            <input matInput  formControlName="percentage">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Type</mat-label>
                                            <mat-select formControlName="type">
                                            <mat-option  value="month" >Month</mat-option>
                                            <mat-option  value="years" >Years</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                       </div>
                        
                       
                       <div class="row mt-2">
                            <div class="col-md-4">
                                <button type="submit" (click)="submit()" mat-raised-button color="primary">Submit</button>
                            </div>
                       </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
   
</div>